DATABASE_URL="postgresql://etnair_user:etnair_pass@localhost:5433/etnair_db"
JWT_SECRET="etnair_jwt_secret_2024"
PORT=3000

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=etnair-images
